<div *ngIf="article">
    <h2>{{ article.title | uppercase }} Details</h2>
    <div><span>id: </span>{{ article.id }}</div>
    <div>
      <label>title:
        <input [(ngModel)]="article.title" placeholder="title"/>
      </label>
    </div>
    <div>
      <label>content:
        <input [(ngModel)]="article.content" placeholder="content"/>
      </label>
    </div>
    <div>
      <label>time:</label>{{ article.date | date: 'yyyy/MM/dd HH:mm:ss'}}
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>

  </div>
